@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-image:url("../../src/zach/Images/ScanLineBG.png");
/* height: fit-content; */
margin: 0;
padding:0;
display: flex;
flex-direction: column;
/* border: 10px solid mediumslateblue; */
/* background-repeat:repeat-y; */
/* background-size: cover; */
}

/* .container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
} */

@keyframes fadeIcons{
  0%{
    opacity:0;
    color:black;
  }
  100%{
    opacity:1;
    color:rgba(255,255,255,1);
  }
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  justify-content: center;
  background-color: black;
  height: 1px;
}

/* .strong {
  display: inline !important;
} */


/* WEBSITE BANNER */
.banner {
  flex: 1;
  display: flex;
  background-color: mediumslateblue;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  z-index: 1;
}

.bannercontent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INDIVIDUAL GAME PROJECT PAGE  */
.projectoverview {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* gap:200px; */
}

.coverImage {
  width: 400px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 8px solid black;
}

.projectname {
  display: flex;
  /* justify-content: center;
      align-items: center; */
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: fit-content;
}

/* TABLE USED R GAME PROJECTS */
.projectinfo {
  flex-direction: column;
  display: flex;
  flex: 1;
  /* border: 10px solid #6495ed; */
  margin-top: 20px;
  justify-content: center;
  align-content: center;
  width: fit-content;
}

.gameButtons {
  display: flex;
  flex: 1;
  align-items: start;
  justify-content: start;
  margin-top: 10px;
  flex-direction: row;
  text-decoration: none;
}
.gameographyTable{
   /* border: 10px solid #6495ed; */
   margin-top: 20px;
   max-width: 1550px;
}
.projectTable {
  /* border: 10px solid #6495ed; */
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.tablecol {
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 4px solid #6495ed;
}

.tablerow {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: 4px solid #6495ed;
}

.pageparagraph {
  display: inline-block;
  flex: 1;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1600px;
  font-size: 20px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.demoVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  font-size: 20px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.pageheader {
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  height: fit-content;
  justify-content: center;
  text-align: left;
  align-content: center;
  padding: 20px;
  background-color: cornflowerblue;
  color: white;
}

.list {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1000px;
  font-size: 24px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: left;
  list-style-type: circle;
}
.pagebody {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  margin-top: 10px;
  height: 500px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  font-size: 20px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.galleryImages{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.galleryimageVertical {
  width: 400px;
  height:auto;
  padding: 10px;
}

.galleryimageVertical:hover{
  cursor: pointer;
  animation-name:squish;
  animation-duration:0.5s;
}

.graphicImage{
  width: 1000px;
  height:auto;
  padding: 10px;
}

.graphicImage:hover{
  cursor:pointer;
  animation-name: squish;
  animation-duration: 0.5s;
}

.galleryimageHorizontal {
  width: 600px;
  height: 300px;
  padding:10px;

}

.galleryimageHorizontal:hover {
  cursor: pointer;
  animation-name:squish;
  animation-duration:0.5s;
}

#FullImageView {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding-left:500px;
  padding-right:500px;
  padding-bottom:300px;
  padding-top:300px;
  background-color: black;
}

#FullImage {
  max-width: 100%;
  max-height: 100%;
  background-color: black;
  display:flex;
  z-index:200;
  justify-content: center;
}

#CloseButton {
  float: right;
  display: inline-block;
  top: 0px;
  right: 0px;
  transform: translate(-50%, 10%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

#CloseButton:hover {
  background-color: cornflowerblue;
  opacity: 0.5f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.reflection {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;

}

.backtotop{
  display: flex;
  flex: 1;
  justify-content: center;
  
}

.footerbottom{
  background-color: #8ddad0; 
  height:100vh; margin-top:50px; 
  z-index: -10;
}

.footercopyright{
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:mediumslateblue; 
  margin-bottom:50px;
  font-weight: bold;
}

.footer {
  z-index:10;
  flex: 1;
  display: flex;
  width: 100%;
  height:250px;
  /* border: 10px solid cornflowerblue; */
  stroke-width: 20px;
  stroke-dasharray:6%2c 100;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  /* background-image: url("../../assets/UI/WiiFooterFINAL.png"); */
  /* background-color: #73ddd0; */
  /* border: 10px solid blue; */
  /* border: solid mediumspringgreen 10px; */
}

.logoimage {
  float: left;
  margin-right: 50px;
  align-items: center;
  width: 200px;
  height: 200px;
}

/* HEADERS */
.h1 {
  font-size: 84px;
  font-family:Tahoma, Geneva, sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.h2 {
  font-size: 32px;
  font-family:Tahoma, Geneva, sans-serif;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  color: white;

}

.h3 {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300px;
  text-align: center;
  justify-content: center;
  color: white;
}

.h4 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.h5 {
  font-size: 64px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  color: black;
}

.h6 {
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  text-align: left;
  color: black;
}

/* NAVIGATIONAL BUTTONS */
.buttons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.menuButton {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400px;
  text-align: center;
  justify-self: center;
  color: white;
  background-color: black;
  /* border: 10px solid white; */
  padding: 20px;
  margin: 20px;
}

.menuButton:hover {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400px;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: cornflowerblue;
  /* border: 10px solid white; */
  padding: 20px;
  animation-name:fadein, squish;
  animation-duration:0.5s;
}

.menuButtonSelected {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400px;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: cornflowerblue;
  /* border: 10px solid white; */
  padding: 40px;
}

/* MENU ICONS */
.overlay {

  width: 388px;
  height: 308px;
  opacity: 1;
  border: 10px solid #838383;
  border-radius: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  font-size: 24px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba();
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 388px;
  height: 308px;
  display: none;
}

.iconContainer,
.iconContainer2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  animation-name:fadeIcons;
  animation-duration:1s;
  position: relative;

}

.icon {
  width: 388px;
  height: 308px;
  text-align: center;
  font-size: 50px;
  opacity: 1;
  position: relative; 
  margin: 10px; 
}

.iconContainer .icon:hover .text {
  background-color: cornflowerblue;
  transition: 0.5s ease;
  display: block;
  animation-name:fadein;
  animation-duration:0.5s;
  transition: opacity 0.2s, border-radius 1s;
  cursor:pointer; 
  border: 10px solid #838383;
  border-radius: 20px;
}
@keyframes squish{
  50%{
    /* width:300px;
    height:200px; */
    padding-left:50px;
    padding-right:50px;
  }
}

@keyframes fadein{
  from{
    opacity:25%;
  }
  100%{
    opacity:100%;
  }
}

.iconContainer2 .icon:hover .text {
  background-color: cornflowerblue;
  transition: 0.5s ease;
  display: block;
  animation-name:fadein;
  animation-duration:0.5s;
  transition: opacity 0.2s, border-radius 1s;
  border: 10px solid #838383;
  border-radius: 20px;
}


/* ABOUT ME CONTAINERS */
.aboutmecontainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  margin-top: 10px;
  animation-name:fadeIcons;
  animation-duration:1s;
}

.contactcontainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  margin-top: 10px;
  /* padding-right: 500px;
      padding-left: 500px; */
  gap: 450px;
}

.gameographycontainer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.resume {
  align-items: center;
  width: fit-content;
  float: left;
  text-align: center;
  display:flex;
  flex-direction: column;
  /* float: left; */
}

.pdf {
  width: 225px;
  height: auto;
}

.pdf:hover {
  background: cornflowerblue;
  animation-name:fadein;
  animation-duration:0.5s;
}

.socials{
  align-items: center;
  width: fit-content;
  float: left;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.socialimages {
  justify-content: center;
  align-items: center;
  display: flex;
  float: right;
  flex-direction: row;
  margin-bottom: 120px;
}

.socialimage {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.socialimage:hover {
  background: cornflowerblue;
  animation-name:fadein;
  animation-duration:0.5s;
}

.profilepic {
  width: 300px;
  height: 300px;
  margin-bottom: 35px;
  padding: 20px;
}

p {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 200px;

}

/* .style-1 {
    position: relative;
    padding: 0.1em 1em;
    background: linear-gradient(135deg, rgba(255,0,0,.2), rgba(0,0,255,.2));
    border: none;
    border-radius: 10px;
    font-size: 2em;
    color: white;
    text-shadow: 1px 2px 2px rgba(255,0,255,.2);
    cursor: pointer;
    text-align: center;
    font-family: 'Bungee', cursive;
    transition: all .2s linear;
  } */

/* .style-1:hover {
    text-shadow: 2px 3px 4px rgba(0,0,255,.2);
    padding: 0.2em 1em;
  } */

.style-2 {
  padding: 2.5em;
  background-color: white;
  border: 5px solid black;
  box-shadow: 10px 5px yellow;
  cursor: pointer;
  font-family: 'Plaster', cursive;
  color: rgba(0, 0, 0, .75);
  transition: all .2s linear;
  position: center;
}

.style-2:hover {
  color: black;
  padding: 2em;
  box-shadow: 10px 5px rgba(170, 255, 0, 1);
}

/* .style-3 {
    padding: 1em 0.2em 0em 1em;
    border: 0;
    background: white;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(255, 0, 144, 1);
    transition: all .1s linear;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  } */

/* .style-3:hover {
    box-shadow: 5px 5px rgb(0, 255, 255);
  } */





/*
  font-family: 'Bungee', cursive;
  font-family: 'Rye', cursive;
  font-family: 'Vast Shadow', cursive;
  font-family: 'Plaster', cursive;
  font-family: 'Staatliches', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Anton', sans-serif;
  */

/* html,
body {
  margin: 0;
} */

.grid-container {
  margin: auto;
  position: absolute;
  width: 50%;
  height: 50%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid red;
  /* -ms-transform: translate(50%, 50%); */
  transform: translate(50%, 50%);
}

.grid-item {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

a#daniel-button {
  --border: 5px;
  /* the border width */
  --slant: .3em;
  /* control the slanted corners */
  --color: #3b64cc;
  /* the color */

  font-size: 35px;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background:
    linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top right,
    linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--color);
  clip-path:
    polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
      100% 100%, var(--slant) 100%, 0 calc(100% - var(--slant)));
  transition: color var(--t, 0.3s), background-size 0.3s;
}

a#daniel-button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}

a#daniel-button:hover,
a#daniel-button:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}

a#daniel-button:active {
  --s: #0005;
  transition: none;

}

#jackyButton {
  position: relative;
  display: inline-block;
  padding: 28px 10px;
  border: 2px solid black;
  border-radius: 5px;
  letter-spacing: 3px;
  cursor: pointer;
  zoom: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration-line: none;
  text-align: center;
}

#jackyButton::before {
  content: '';
  position: absolute;
  top: 25%;
  left: -3px;
  right: -3px;
  height: 50%;
  background: white;
  transition: transform 0.75s, background-color 1s;
  transition-timing-function: cubic-bezier(.33, .01, 0, 1);
  transform: scaleY(1);
}

#jackyButton:hover::before {
  transform: scaleY(0);
}

#jackyButton::after {
  content: '';
  position: absolute;
  left: 15%;
  top: -3px;
  bottom: -3px;
  width: 70%;
  background: white;
  transition: transform 0.75s, background-color 1s;
  transition-timing-function: cubic-bezier(.33, .01, 0, 1);
  transform: scaleX(1);
}

#jackyButton:hover::after {
  transform: scaleX(0)
}

#jackyButton:hover {
  color: black;
}

#jackyText {
  position: relative;
  z-index: 5;
  text-align: center;
  color: lightpink;
  font-family: Arial, sans-serif;
  font-size: 16px;
}